  <footer>
    <nav class="navbar-dark bg-dark navbar fixed-bottom">
      <div class="container-fluid">
      </div>
      <h6 class="navbar-text">&copy; Copyright 2025 @ Shifa Faisal. All Rights Reserved.</h6>
    </nav>
  </footer>
      <script> src="/Script/app.js"</script>
</body>
</html>
  